.register {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://www.pcworld.com/wp-content/uploads/2024/05/Netflix-Hintergrund-1.jpg?resize=1536%2C864&quality=50&strip=all");
  background-size: 100%;
  /*   position: relative;  */
}

.wrapper_register {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_register {
  height: 40px;
}

.container_register {
  text-decoration: none;
  width: 100%;
  height: 100%;
  /*   position: absolute;
  top: 0;
  left: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.container_register h1 {
  font-size: 50px;
}

.form_register {
  width: 300px;
  height: 300px;
  padding: 30px;
  border-radius: 5px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  input {
    height: 40px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    padding-left: 10px;

    &::placeholder {
      color: lightgray;
    }
  }
}

.button_register {
  height: 40px;
  text-decoration: none;
  background-color: rgb(39, 248, 48);
  border: none;
  color: black;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 500;
}
.footer {
  background-color: black;
  color: green;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 25px 0;
  position: relative;

  .footer-content {
    text-align: center;

    p {
      margin: 5px 0;
    }

    a {
      color: green;
      text-decoration: none;
      margin: 0 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
