.main_container_sliderMovies{
    height: 100vh;
    position: relative;  
    display: flex;
    flex-wrap: wrap;  
}

/* Imagen slider FONDO */
.main_container_img_sliderMovies{
    width: 100%;
    height: 88%;
    object-fit: cover;
}

/* Div desplegable / titulo */
.category{ 
/*     position:absolute;
    top: 80px;
    left: 50px; */
    margin-left: 67px;
    margin-top: 60px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;

    /* Desplegable categorias */    
    select{
        cursor: pointer;
        background-color: var(--main-color);
        border: 1px solid white;
        color: white;
        margin-left: 20px;
        padding: 5px;

    }
}




/* Div -> imagen título, descripción película, botón ver e info. ENCIMA DE SLIDER */
.info_sliderMovies{
    width: 31%;
    position: absolute;
    left: 50px;
    bottom: 38px;
    color:white;
    display: flex;
    flex-direction: column;
}

/* Imagen título SLIDER */
.info_img_sliderMovies{
    width: 100%;
    max-width: 400px;
}

/* Descripción SLIDER */
.desc_sliderMovies{
    margin: 20px 0px;
    
}

/* Botones Play e Info */
.buttons_movies{
    display: flex;

    button{
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        margin-right: 10px;
        cursor: pointer;

        /* Botón Play */
        &.play{
            background-color: white;
            color: var(--main-color);
        }

        /* Botón More */
        &.more{
            background-color: gray;
            color: white
        }

        /* Texto dentro botones */
        span{
            margin-left: 5px;
        }
    }
    
}