.main_container_sliderGallery {
    height: 90vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Imagen slider FONDO */
  .main_container_img_sliderGallery {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Div -> imagen título, descripción película, botón ver e info. ENCIMA DE SLIDER */
  .info_sliderGallery {
    width: 31%;
    position: absolute;
    left: 2%;
    bottom: 2%;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }
  
  /* Imagen título SLIDER */
  .info_img_sliderGallery {
    width: 100%;
    max-width: 400px;
  }
  
  /* Descripción SLIDER */
  .desc_sliderGallery {
    margin: 20px 0;
  }
  
  /* Botones Play e Info */
  .buttons_gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .buttons_gallery button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .buttons_gallery button.play {
    background-color: white;
    color: var(--main-color);
  }
  
  .buttons_gallery button.more {
    background-color: gray;
    color: white;
  }
  
  /* Texto dentro botones */
  .buttons_gallery button span {
    margin-left: 5px;
  }
  
  /* Media Queries para hacer el diseño responsive */
  @media (max-width: 1200px) {
    .info_sliderGallery {
      width: 40%;
      left: 2%;
      bottom: 2%;
      top: 30%
    }
  
    .info_img_sliderGallery {
      max-width: 300px;
    }
  
    .buttons_gallery button {
      padding: 8px 16px;
      font-size: 16px;
    }
  }

  
  @media (max-width: 992px ) { /* Vista tablet */
    .info_sliderGallery {
      width: 50%;
      left: 2%;
      bottom: 2%;
      top: 15%
    }
  
    .info_img_sliderGallery {
      max-width: 250px;
    }
  
    .desc_sliderGallery {
      margin: 15px 0;
    }
  
    .buttons_gallery button {
      padding: 6px 12px;
      font-size: 14px;
    }
  }

  @media (max-width: 840px) {
    .info_sliderGallery {
      width: 60%;
      left: 2%;
      bottom: 2%;
    }
  
    .info_img_sliderGallery {
      max-width: 200px;
    }
  
    .desc_sliderGallery {
      margin: 10px 0;
    }
  
    .buttons_gallery {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  
    .buttons_gallery button {
      padding: 8px 13px;
      font-size: 12px;
      margin-bottom: 10px;
      margin-right: 24px;
    }
  }
  
  @media (max-width: 768px) {
    .info_sliderGallery {
      width: 40%;
      left: 2%;
      bottom: 2%;
      top: 15%;
    }
  
    .info_img_sliderGallery {
      max-width: 200px;
    }
  
    .desc_sliderGallery {
      margin: 10px 0;
    }
  
    .buttons_gallery {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  
    .buttons_gallery button {
      padding: 8px 13px;
      font-size: 12px;
      margin-bottom: 10px;
      margin-right: 20px;
    }
  }

  @media (max-width: 761px) {
    .info_sliderGallery {
      width: 43%;
      left: 2%;
      height: 40%;
      top: 39%;
      bottom: 2%;
    }
  
    .info_img_sliderGallery {
      max-width: 150px;
      margin-bottom: 10%;
    }
  
    .desc_sliderGallery {
      display: none;
    }
  
    .buttons_gallery {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .buttons_gallery button {
      padding: 4px 8px;
      font-size: 10px;
      margin-bottom: 8px;
      margin-right: 10px;
    }
  }
  
  @media (max-width: 610px) {
    .info_sliderGallery {
      width: 43%;
      left: 2%;
      height: 40%;
      top: 30%;
      bottom: 2%;
    }
  
    .info_img_sliderGallery {
      max-width: 150px;
      margin-bottom: 10%;
    }
  
    .desc_sliderGallery {
      display: none;
    }
  
    .buttons_gallery {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .buttons_gallery button {
      padding: 4px 8px;
      font-size: 10px;
      margin-bottom: 8px;
      margin-right: 10px;
    }
  }

  @media (max-width: 576px) {
    .info_sliderGallery {
      width: 43%;
      left: 2%;
      height: 40%;
      top: 25%;
      bottom: 2%;
    }
  
    .info_img_sliderGallery {
      max-width: 150px;
      margin-bottom: 10%;
    }
  
    .desc_sliderGallery {
      display: none;
    }
  
    .buttons_gallery {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .buttons_gallery button {
      padding: 4px 8px;
      font-size: 10px;
      margin-bottom: 8px;
      margin-right: 10px;
    }
  }
  
  @media (max-width: 554px) {
    .info_sliderGallery {
      width: 50%;
      left: 2%;
      height: 40%;
      top: 25%;
      bottom: 2%;
    }
  
    .info_img_sliderGallery {
      max-width: 150px;
      margin-bottom: 10%;
    }
  
    .desc_sliderGallery {
      display: none;
    }
  
    .buttons_gallery {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .buttons_gallery button {
      padding: 4px 8px;
      font-size: 10px;
      margin-bottom: 8px;
      margin-right: 10px;
    }
  }

  @media (max-width: 475px) {
    .info_sliderGallery {
      width: 50%;
      left: 2%;
      height: 40%;
      top: 25%;
      bottom: 2%;
    }
  
    .info_img_sliderGallery {
      max-width: 150px;
      margin-bottom: 10%;
    }
  
    .desc_sliderGallery {
      display: none;
    }
  
    .buttons_gallery {
      display: none;
    }
  
    .buttons_gallery button {
      padding: 4px 8px;
      font-size: 10px;
      margin-bottom: 8px;
      margin-right: 10px;
    }
  }

  @media (max-width: 428px) {
    .info_sliderGallery {
      width: 50%;
      left: 2%;
      height: 40%;
      top: 20%;
      bottom: 2%;
    }
  
    .info_img_sliderGallery {
      max-width: 150px;
      margin-bottom: 10%;
    }
  
    .desc_sliderGallery {
      display: none;
    }
  
    .buttons_gallery {
      display: none;
    }
  
    .buttons_gallery button {
      padding: 4px 8px;
      font-size: 10px;
      margin-bottom: 8px;
      margin-right: 10px;
    }
  }